<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>myApp</title>
</head>
<body>
	
	<div ng-controller="myController">
	username:<input type="text"  ng-model="cName">
	password:<input type="text"  ng-model="name">
		<button ng-click="clickMe()">clickMe</button>
			<h3>{{cName}}</h3>
			<h3>{{name}}</h3>
	</div>

	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript">
		
		angular.module("myApp",[])
		 .controller("myController", function($scope){
		 	console.log("myController");
		 	$scope.cName="Tecnotree";
		 	$scope.name="Suchitra Sahani";

		 	$scope.clickMe=function(){
		 		console.log("Company Name: "+$scope.cName);
		 		console.log("Name: "+$scope.name);

		 	}

		 })

	</script>

</body>
</html>